
header {
  padding: 25px;
  background-color: white;
}
header ul {
  text-align: center;
  justify-content: center;
}

header ul li {
  font-weight: 500;
}

header ul li:hover {
  text-decoration: underline solid 5px rgb(0, 101, 233);
  
}

#icon:hover {
  color:  rgb(0, 101, 233);
}


/*profile*/

.bg-profile{
  background-size: cover;
}

.h1-profile {
  font-size: 50px;

  margin-top: 0px;
  color: rgb(0, 101, 233);
}

#p-profile {
  margin-top: 50px;
 
}

#btn-profile1 {
  width: 150px;
  margin-top: 25px;
  background-color: rgb(0, 101, 233);
  color: white;
  border-radius: 10px;
}

#btn-profile1:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

#btn-profile2 {
  width: 250px;
  margin-top: 25px;
  border: 1px solid black;
  border-radius: 10px;
}

#btn-profile2:hover {
  background-color: rgb(0, 101, 233);
  color: white;
  border-color: white;
}

/*porto1 firterabel*/
* {
  box-sizing: border-box;
}


/* posisi di tengah */
.main {

  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}


/* membuat colom */
.column {

  display: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#div-galeri {
  padding: 20px;
  margin-top: 100PX;
}

#galeri{
  display: flex;
  justify-content: center;
  
}

#title-galeri{
  margin-bottom: 50px;
}

.content {
  margin-top: 50px;

}

.head-galeri {
  margin-top: 50px;
}

.img-galeri {
  border-radius: 10px;
  -webkit-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  -ms-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.content:hover .img-galeri {
  transform: scale(1.05)
}


.show {
  display: block;
  
}

.btn {
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
   color: white;
}

.song-icon {
  width: 50%;
  margin-top: 50px;
}


audio {
  margin-top: 50px;
  width: 70%;
}




/*testimoni*/
.head-testimoni {
  margin-top: 200px;
  color: rgb(0, 128, 233);
} 

/*footer*/

#aboutus {
  height: 200px;
  margin-top: 250px;
  color: rgb(0, 0, 0);
}

.h3-footer{
  font-size: 20px;
  margin-top: 20px;
  color: white;
}

#link-footer {
  margin-top: 30px;
}

#link-footer-sub {
  color: white;
}

#link-footer-sub:hover {
  text-decoration: underline solid white 5px;
}

#link-akun-footer {
  margin-top: 50px;

}

#link-akun-footer:hover {
  color: white;
   
}


@media screen and (min-width: 1000px) {
  .footer img {
    width: 100%;
  }
  /*porto2*/
  #song-porto-phone {
    display: none;
  }
}



@media screen and (max-width: 480px) {
  body{
    overflow-x: hidden;
  }
  /*Header*/
  header  {
    padding: 10px;
  }

  /*profile*/
  #img-profile {
    margin-top: 50px;
    width: 100%;
  }

  .h1-profile {
    margin-top: -25px;
    text-align: left;
    font-size: 29px;
  }

  #p-profile{
    text-align: start;
    font-size: 15px;
  }

  #btn-profile {
    display: flex;
    justify-content: center;
    
  }

  #btn-profile1 {
    margin-top: 20px;
    width: 150px;
    margin-right: 10px;
  }
  
  
  #btn-profile2 {
    margin-top: 20px;
    width: 150px;

  }

  .follow-profile{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .link-profile{
    display: flex;
    justify-content: center;
  }
  
  /*porto  galeri*/
  #div-galeri {
    padding: 20px;
    margin-top: 10PX;
  }
  
  #galeri{
    display: flex;
    justify-content: center;
  
  }
  
  .content {
    margin-top: 50px;
  }
  
  .head-galeri {
    margin-top: 50px;
  }
  
  .img-galeri {
    border-radius: 10px;
  }


  .song-icon {
    width: 50%;
    margin-top: 0px;
  }
  
  
  audio {
   
    width: 70%;
    margin-bottom: -50px;
    margin-top: -50px;
  }
  
/*testimoni*/
.head-testimoni {
  margin-top: 100px;
} 

/*footer*/
#aboutus {
  margin-top: 150px;
}

.h3-footer{
  font-size: 20px;
  margin-top: 0px;
  color: white;
}

#link-footer {
  margin-top: 0px;
}

#link-footer-sub {
  font-size: 15px;
  color: white;
  margin-bottom: -15px;
}


#link-akun-footer {


}

}